body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	font-size: 16px;
	color: #333333;
}

.section {
	background: #f5f5f5;
	padding: 50px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}

.section:nth-child(2n) {
	background: #ffffff;
} 

.dark {
	background: #445162;
	color: #ffffff;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 60px;
}

.tick {
	list-style: none;
	font-size: 20px;
	padding-left: 0;
}

.tick li::before {
	content: url(tick.svg);
	height: 20px;
	width: 20px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	margin-top: 5px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.header-img {
	width: 470px;
}

h2 {
	font-size: 30px;
	color: #445161;
	margin-top: 0;
	text-align: center;
}

.left-align {
	text-align: left;
}

/*Позиционирование второго блока.*/
.second-block {
	width: 40%;
}

.sixty-p {
	width: 60%;
	box-sizing: border-box;
	padding-right: 20px;
}

.half p {
    display: inline-block;
    width: 46%;
    position: relative;
    margin-left: 40px;
}

.half p::before {
    content: "+";
    position: absolute;
    top: 4px;
    left: -40px;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    background: #4d4d4d;
    padding: 3px 5px 5px;
    line-height: 25px;
}

h3 {
	font-size: 24px;
	color: #445161;
	margin: 0;
}

.screen-block {
	width: 49%;
	display: inline-block;
}

.screen-img {
	width: 200px;
	height: 150px;
	float: left;
	text-align: center;
	margin-right: 20px;
}

.screen-img img {
	max-width: 100%;
	max-height: 100%;
}

.reviews-block {
	width: 45%;
	display: inline-block;
	margin: 10px;
}

.reviews-img {
	width: 75px;
	height: 75px;
	float: left;
	text-align: center;
	margin-right: 20px;
	border-radius: 50%;
	overflow: hidden;

}

.reviews-img img {
	min-width: 75px;
	min-height: 75px;
	max-width: 100%;
	max-height: 100%;

}

.reviews-desc {
	margin-left: 95px;
	background: #ebebeb;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	position: relative;
}

.italics {
	margin: 0;
	font-style: italic;
}

.lightgray {
	color: #989898;
}

.reviews-desc::before {
	content: "";
	position: absolute;
	border: 10px solid transparent;
	width: 0;
	height: 0;
	left: -20px;
	border-right-color: #ebebeb;
	top: 30px;

}

.buy-section {
	margin: 0 auto;
	width: 1032px;
}

.buy-block {
	color: #ffffff;
	background-color: #445162;
	width: 296px;
	display: inline-block;
	padding: 2px;
	border-radius: 5px;
	margin: 0 20px;
}

.buy-block h3 {
	color: #ffffff;
	text-align: center;
	margin: 10px;
}

.buy-block p {
	color: #445162;
	font-size: 40px;
	background-color: #ffffff;
	margin: 0;
	text-align: center;
}

ol li {
	font-size: 14px;
}

.buy-block button {
	color: #445162;
	font-size: 18px;
	background-color: #ffffff;
	text-align: center;
	border: none;
	border-radius: 5px;
	width: 86%;
	height: 45px;
	margin: 0 20px 20px;
}

.dark h2 {
	color: #ffffff;
}

form {
	width: 540px;
	display: inline-block;
	padding: 0 20px;
}

input, textarea {
	background-color: #ffffff;
	width: 100%;
	color: #445162;
	border-radius: 5px;
	margin: 0 0 40px;
	line-height: 40px;
	border: none;
	box-sizing: border-box;
}
 textarea {
 	min-height: 175px; 
 }

::placeholder {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: #333333;
	padding-left: 10px;
}

input[type="submit"] {
	width: 145px;
	display: block;
	margin: 0 auto;
}

.contacts-section {
	padding: 0;
}

.contacts-section .dark {
	padding: 50px;
	text-align: center;
}

.icons img {
	vertical-align: middle;
}

.icons {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.icons p {
	margin: 0 0 40px;
}

.footer {
	color: #445162;
	font-size: 12px;
	text-align: center;
}